<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="http://d2v52k3cl9vedd.cloudfront.net/basscss/7.0.4/basscss.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="throttledInput.js"></script>
    <script src="products.js"></script>
</head>
<body>
<div>
    <a href="#" class="btn btn-primary">Tuotteet</a>
    <a href="#" class="btn">Yhteystiedot</a>
    <a href="#" class="btn">Ostoskori</a>
</div>
<form>
    <label for="search">Hae
        <input id="search" type="text" class="field">
    </label>
</form>
<div class="overflow-scroll">
    <table class="table-light overflow-hidden bg-white border rounded">
        <thead class="bg-darken-1">
        <tr>
            <th>Tuote</th> <th>Hinta</th> <th>Varastossa</th>
        </tr>
        </thead>
        <tbody>
        {{#each products}}
            <tr class="product-row"> <td data-name="{{this.searchName}}" class="product-name">{{this.name}}</td> <td>{{this.price}}€</td> <td>{{this.availability}}</td> </tr>
        {{/each}}
        </tbody>
    </table>
</div>
</body>
</html>
